<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-forum</title>
    

    
</head>
<body>

    <header>
        <nav>
            <ul>
                <li> <a href="#">Home</a></li> 
            </ul>
        </nav>
        <h1> Välkommen till BookSphere</h1>
        <p>Dyk ner i Världen av böcker. Dela dina tankar, diskutera dina favoriter, och upptäck din nästa stora läsning med likasinnande bokälskare.</p>
    </header>

    <style>
        header{
            background-image: url(cover.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
        }

    * {
        margin: 0;
    }

    </style>
</body>
</html>